{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Editar Votante</h2>
    <form action="{{ url_for('admin.edit_voter', voter_id=voter.id, from_period=from_period) }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}<br>
            {{ form.name(class="form-control", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.lastname.label(class="form-label") }}<br>
            {{ form.lastname(class="form-control", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.cedula.label(class="form-label") }}<br>
            {{ form.cedula(class="form-control", size=32) }}
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    {% if from_period %}
        <a href="{{ url_for('admin.manage_election_period', period_id=from_period) }}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
    {% else %}
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-outline-secondary btn-sm">Cancelar</a>
    {% endif %}
</div>
{% endblock %}
